
<template>
   <div class="card shadow-sm bg-gray-100 p-2 w-full">

      <div class="flex items-center mb-2">
         <div class="text-lg mr-2">
            {{ group.name }}
         </div>
      </div>

      <div class="overflow-y-auto">
         <table class="table w-full">
            <tbody>
               <template v-for="user in groupUsersList" :key="user.id">
                  <tr class="hover cursor-pointer">
                     <td>
                        {{ user.name }}
                     </td> 
                  </tr>
               </template>
            </tbody>
         </table>

      </div>
   </div>

</template>

<script setup>
import { computed } from 'vue'
import { mdiTrashCan } from '@mdi/js'

import { useUsers } from '/src/use/useUsers'



const { usersList } = useUsers()

const props = defineProps({
   group: {
      type: Object,
      required: true
   },
})

const groupUsersList = computed(() => usersList.value.filter(user => user.groupId === props.group.id))
</script>
