<template>
   <!-- all groups organized by columns-->
   <div class="flex w-full">
      <template v-for="group in groupsList">

         <!-- list of users in group + invitation button -->
         <div class="flex flex-col items-center w-full m-1">
            <UserList :group="group" class="m-2"></UserList>

            <button class="block btn btn-circle btn-accent" @click="inviteGroup = group">
               <svg fill="none" viewBox="0 0 24 24" class="inline-block w-4 h-4 stroke-current">   
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" :d="mdiPlus"></path>                       
               </svg>
            </button>
         </div>
      </template>
   </div>

   <!-- 'create user' modal dialog -->
   <div :class="{modal: true, 'modal-open': inviteGroup}">
      <div class="modal-box max-w-xl">
         <p class="text-2xl my-6 font-bold text-center legible-text">Invitation à rejoindre {{ inviteGroup.name }}</p>
         <div>
            <input 
               type="email"
               class="block border border-grey-light w-full p-3 rounded mb-4"
               name="email"
               v-model="email"
               placeholder="email" />
         </div>
         <div class="modal-action">
            <button class="btn btn-primary" @click="sendInvitation" :disabled="!isEmailValid(email)">Envoyer invitation</button> 
            <button class="btn" @click="inviteGroup = false">Fermer</button> 
         </div>
      </div>
   </div>


</template>

<script setup>
import { ref } from 'vue'
import { mdiPlus } from '@mdi/js'
import { useGroups } from '/src/use/useGroups'

import UserList from '/src/components/UserList.vue'

import app from '/src/app-client'

const { groupsList } = useGroups()

const inviteGroup = ref(false)
const email = ref()

const sendInvitation = async () => {
   app.service('invitation').send({
      email: email.value,
      group: inviteGroup.value,
   })
   inviteGroup.value = false
}

const emailRE = /^(([^<>()[\]\.,;:\s@\"]+(\.[^<>()[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i;

function isEmailValid(str) {
   return emailRE.test(str)
}
</script>