<template>
   <div class="max-w-2xl">

      <!-- navigation bar -->
      <div class="flex p-3 bg-gray-50">
         <div class="flex-1">
            <div class="normal-case text-xl">Choixpeau magique</div>
         </div>
         <div class="flex-none">
            {{ userName(parseInt(userId)) }} <a class="underline" href="#" @click="logout">Logout</a>
         </div>
      </div>

      <!-- children view comes here-->
      <router-view></router-view>
   </div>
</template>

<script setup>
import router from "/src/router"

import { useUsers } from '/src/use/useUsers'
import { useGroups } from '/src/use/useGroups'


const props = defineProps({
   userId: {
      type: [String, Number],
      required: true
   },
})

const { resetUseUsers, userName } = useUsers()
const { resetUseGroups } = useGroups()


const logout = () => {
   window.sessionStorage.removeItem('feathers-jwt')
   resetUseUsers()
   resetUseGroups()
   router.push('/')
}
</script>
