<template>
   <div class="bg-grey-lighter min-h-screen flex flex-col">
      <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">

         <div class="bg-white px-6 py-8 rounded shadow-md text-red-600 w-full" v-if="!tokenPayload">
            Incorrect link - cannot signup
         </div>

         <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full" v-else>
            <h1 class="mb-4 text-3xl text-center">
               Create an account
            </h1>
            <h1 class="mb-8 text-xl text-center text-teal-600">
               Join {{ tokenPayload.name }}
            </h1>
            <input 
               type="text"
               class="block border border-grey-light w-full p-3 rounded mb-4"
               name="name"
               v-model="name"
               placeholder="Choose name" />

            <input 
               type="text"
               class="block border border-grey-light w-full p-3 rounded mb-4"
               name="pseudo"
               v-model="pseudo"
               placeholder="Choose pseudo" />

            <input 
               type="password"
               class="block border border-grey-light w-full p-3 rounded mb-4"
               name="password"
               v-model="password"
               placeholder="Choose password" />

            <input 
               type="password"
               class="block border border-grey-light w-full p-3 rounded mb-4"
               name="password"
               v-model="passwordRepeat"
               placeholder="Repeat password" />

            <button
               class="w-full btn btn-success my-1"
               :disabled="!!message"
               @click="signup"
            >Signup</button>

            <div class="text-center text-sm text-red-500 mt-4">
               {{ message }}
            </div>
         </div>

         <div class="text-gray-dark mt-6">
            Powered by <a class="no-underline border-b border-blue-300 text-blue" href="https://www.npmjs.com/package/@jcbuisson/express-x" target="_blank">
               express-x
            </a>
         </div>
      </div>
   </div>
</template>

<script setup>
import { ref, computed } from 'vue'
import { useRoute } from 'vue-router'
import { useJwt } from '@vueuse/integrations/useJwt'

import router from "/src/router"

import app from '/src/app-client'

const route = useRoute()


const props = defineProps({
   token: {
      type: String,
      required: true
   },
})

const token = computed(() => route.query.token)

const tokenPayload = computed(() => {
   const { header, payload } = useJwt(token)
   return payload.value
})

const message = computed(() => {
   if (!name.value) return "Name is missing"
   if (!pseudo.value) return "Pseudo is missing"
   if (!password.value) return "Password is missing"
   if (!passwordRepeat.value) return "Password (repeat) is missing"
   if (password.value !== passwordRepeat.value) return "Passwords are not equal"
   return ""
})

const name = ref('')
const pseudo = ref('')
const password = ref('')
const passwordRepeat = ref('')

const signup = async () => {
   const user = await app.service('user').create({
      name: name.value,
      pseudo: pseudo.value,
      password: password.value,
      role: 'user',
      groupId: tokenPayload.value.id,
   })
   console.log('user', user)
   router.push('/')
}

</script>
