<template>
   <div class="bg-grey-lighter min-h-screen flex flex-col">
      <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
            <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
               <h1 class="mb-4 text-3xl text-center">
                  Sign in
               </h1>
               <input 
                  type="text"
                  class="block border border-grey-light w-full p-3 rounded mb-4"
                  name="pseudo"
                  v-model="pseudo"
                  placeholder="Pseudo" />

               <input 
                  type="password"
                  class="block border border-grey-light w-full p-3 rounded mb-4"
                  name="password"
                  v-model="password"
                  placeholder="Password" />

               <button
                  class="w-full btn btn-success my-1"
                  :disabled="!pseudo || !password"
                  @click="signin"
               >Log in</button>

               <div class="mt-4 w-full text-center">
                  <a class="link link-primary" :href="getGoogleUrl(from)">Sign in with Google</a>
               </div>

               <div class="text-center text-sm text-red-500 mt-4">
                  {{ message }}
               </div>
            </div>

            <div class="text-gray-dark mt-6">
               Powered by <a class="no-underline border-b border-blue-300 text-blue" href="https://www.npmjs.com/package/@jcbuisson/express-x" target="_blank">
                  express-x
               </a>
            </div>
      </div>
   </div>
</template>

<script setup>
import { ref } from 'vue'

import router from "/src/router"
import app from '/src/app-client'
import { getGoogleUrl } from '/src/utils/getGoogleUrl';


const pseudo = ref('')
const password = ref('')
const message = ref('')

const signin = async () => {
   const { error, accessToken, user } = await app.service('authenticate').verifyCredentials({
      strategy: 'local',
      username: pseudo.value,
      password: password.value,
   })
   console.log('authenticate', error, accessToken, user)
   if (error) {
      message.value = error
      setTimeout(() => message.value = '', 2000)
   } else {
      window.sessionStorage.setItem('feathers-jwt', accessToken)
      router.push(`/home/${user.id}/${user.role}`)
   }
}

app.service('authenticate').on('verifyCredentials', user => {
   console.log('VERIFY-CREDENTIALS EVENT', user)
})
app.service('authenticate').on('reauthenticate', () => {
   console.log('(RE)AUTHENTICATE EVENT')
})
</script>
