<template>
   <div class="flex w-full">
      <!-- list of users in group + invitation button -->
      <div class="flex flex-col items-center w-full m-1" v-if="userGroup">
         <UserList :group="userGroup" class="m-2"></UserList>
      </div>
   </div>
</template>

<script setup>
import { computed } from 'vue'
import { useUsers } from '/src/use/useUsers'
import { useGroups } from '/src/use/useGroups'

import UserList from '/src/components/UserList.vue'


const props = defineProps({
   userId: {
      type: [String, Number],
      required: true
   },
})

const { userOfId } = useUsers()
const { groupOfId } = useGroups()

const userGroup = computed(() => {
   const user = userOfId.value(parseInt(props.userId))
   if (!user) return undefined
   const group = groupOfId.value(user.groupId)
   return group
})


</script>